/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,button,input,select,textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,canvas,img,video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background-color: #fff;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
	background-color: #2E3641;
	height: 102px;
}

.main-container {
	position: absolute;
	top: 122px;
	bottom: 53px;
	min-height: 440px;
	width: 100%;
}

.footer-container {
	position: absolute;
	bottom: 0px;
	height: 43px;
	width: 100%;
}

.main {
	height: 100%;
}

.header-container {
	border-bottom: 20px solid #111518;
}

.footer-container,.main aside {
	border-top: 10px solid #2E3641;
}

.header-container,.footer-container,.main aside {
	background: #2E3641;
}

.title {
	color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
/*nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background: #111518;
}

nav a:hover,nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}
*/
/* ==============
    MOBILE: Main
   ============== */
.main {
	padding: 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
	/* ====================
    INTERMEDIATE: Menu
   ==================== */
	nav a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}
	nav li:first-child a {
		margin-left: 0;
	}
	nav li:last-child a {
		margin-right: 0;
	}

	/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
	nav ul li {
		display: inline;
	}
	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) {
	/* ====================
    WIDE: CSS3 Effects
   ==================== */
	.header-container,.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
		-moz-box-shadow: 0 5px 10px #aaa;
		box-shadow: 0 5px 10px #aaa;
	}

	/* ============
    WIDE: Menu
   ============ */
	.title {
		float: left;
	}
	nav {
		float: right;
		width: 38%;
	}

	/* ============
    WIDE: Main
   ============ */
	.main article {
		float: left;
		width: 57%;
	}
	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) {
	/* ===============
    Maximal Width
   =============== */
	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

input[type="button"],input[type="submit"],input[type="reset"],.button {
	position: relative;
	display: inline-block;
	border-radius: 0.35em;
	color: #fff !important;
	text-decoration: none;
	margin: 10px;
	padding: 0.50em 1.5em 0.50em 1.5em;
	background-color: #8ebebc;
	border: 0;
	cursor: pointer;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15)), url('images/overlay.png');
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15)), url('images/overlay.png');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15)), url('images/overlay.png');
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15)), url('images/overlay.png');
	background-image: linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15)), url('images/overlay.png');
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}

.bloc {
	margin: 10px 20px 20px 20px;
	padding: 1px 20px 20px 20px;
	box-sizing: border-box;
	background: #ffffff;
	height: 100%;
}

.bloc h4 {
	background: #2E3641;
	color: #ffffff;
	padding: 12px;
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: 600;
}

.bloc input[type="text"],input[type="password"],.gwt-ListBox {
	font-weight: 80;
	padding: 10px;
	margin: 5px 10px 5px 0;
	display: block;
	width: 93%;
	background: #ffffff;
	outline: none;
	color: #555555;
	font-size: 0.8725em;
	border: 1px solid #DADADA;
	-webkit-appearance: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.bloc button {
	margin: 5px 10px 5px 0;
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	padding: 10px;
	font-size: 50;
	color: #ffffff;
	background: #A8BD44;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bloc button:hover {
	background: #2E3641;
}

.gwt-DialogBox {
	border: 1px solid #555;
	background: #F1F1F1;
}

.gwt-DialogBox .Caption {
	background: #F1F1F1;
	padding: 10px 8px 4px 4px;
	cursor: move;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #ccc;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	-o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s
		ease-in-out;
	outline: 0;
}

a:hover {
	color: #E27689;
	border-bottom-color: rgba(255, 255, 255, 0);
}

a:link,a:visited,a:hover,a:active {
	outline: none
}

div.active a {
	color: #E27689;
	border-bottom-color: rgba(255, 255, 255, 10);
}